<mdb-navbar SideClass="navbar navbar-expand-lg navbar #69f0ae green accent-2 ie-nav" [containerInside]="true">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>HealthTrak</strong></a>
  </mdb-navbar-brand>
      <!--<links>
      ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a routerLink="/" routerLinkActive="active" class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLink="/patient" routerLinkActive="active" class="nav-link">View Patients</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLink="/appointment" routerLinkActive="active" class="nav-link">Appointments</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/appointment" routerLinkActive="active" class="nav-link">Add Appointment</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/patient" routerLinkActive="active" class="nav-link">Transfer Patient</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/login" routerLinkActive="active" class="nav-link">Logout</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-instagram"></i></a>
          </li>
      </ul>
  </links>-->
</mdb-navbar>

<!--Table-->
<table id="tablePreview" class="table">
  <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>Patient Id</th>
        <th>Patient Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Age</th>
        <th>Address</th>
        <th>Contact Number</th>
        <th>Nationality</th>
      </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>2417356A</td>
        <td>John Aston</td>
        <td>Male</td>
        <td>03/09/1967</td>
        <td>51</td>
        <td>6, Glenhills, Liscannor, County Clare</td>
        <td>0876843726</td>
        <td>Irish</td>
        </tr>
      <tr>
        <th scope="row">2</th>
        <td>8572638B</td>
        <td>Grace Behan</td>
        <td>Female</td>
        <td>04/08/2000</td>
        <td>18</td>
        <td>4, Oakwood Drive, Ennis, County Clare</td>
        <td>0858372819</td>
        <td>English</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>7482938C</td>
        <td>Shane Carolan</td>
        <td>Male</td>
        <td>11/01/1977</td>
        <td>42</td>
        <td>10, The Meadows, Feakle, County Clare</td>
        <td>0862819982</td>
        <td>Irish</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>4216980D</td>
        <td>Martin Dean</td>
        <td>Male</td>
        <td>23/04/1995</td>
        <td>23</td>
        <td>88, Bluebell Woods, Inch, County Clare</td>
        <td>0879283993</td>
        <td>Irish</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>2411986E</td>
        <td>Aisling Finnerty</td>
        <td>Female</td>
        <td>09/08/1978</td>
        <td>40</td>
        <td>45, Oakleigh Wood, Roslevan, County Clare</td>
        <td>0862735442</td>
        <td>Irish</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>8322130F</td>
        <td>Greg Gould</td>
        <td>Male</td>
        <td>19/05/2000</td>
        <td>18</td>
        <td>5, Shanaway Road, Ennis, County Clare</td>
        <td>0854277319</td>
        <td>Irish</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>8082384G</td>
        <td>John Hegarty</td>
        <td>Male</td>
        <td>14/01/1964</td>
        <td>54</td>
        <td>77, Drumlee, Ballyea, County Clare</td>
        <td>0879201345</td>
        <td>Irish</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>6281112H</td>
        <td>Ciara Johnson</td>
        <td>Female</td>
        <td>07/06/1981</td>
        <td>37</td>
        <td>68, Ivy Hill, Gort Road, County Clare</td>
        <td>0859281465</td>
        <td>Irish</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>5735236I</td>
        <td>Tara Killary</td>
        <td>Female</td>
        <td>07/12/1951</td>
        <td>67</td>
        <td>32, Hillcrest, Glenina, County Clare</td>
        <td>0869283744</td>
        <td>Irish</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>6281326J</td>
        <td>James Lawlor</td>
        <td>Male</td>
        <td>05/08/1987</td>
        <td>31</td>
        <td>6, Gort na hInse, Lahinch Road, County Clare</td>
        <td>0872839182</td>
        <td>Irish</td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->

  <div class="example hoverable">
    <button btn btn-primary>Add Patient</button>
    <button btn btn-primary>Add Appointment</button>
    <button btn btn-primary>Transfer Appointment</button>
    <button btn btn-primary>Edit Profile</button>
   </div>

   <div class="chip">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> Jane Doe
  </div>
  
  
  

<!-- Main -->
<main>
    
  <div class="container" style="height:1500px;">
    <router-outlet></router-outlet>
    
   
    
  </div>
</main>
<!-- /.Main -->
