<body class="fixed-sn mdb-skin">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar #69f0ae green accent-2 ie-nav" [containerInside]="true">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>HealthTrak</strong></a>
  </mdb-navbar-brand>
      <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a routerLink="/" routerLinkActive="active" class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLink="/appointment" routerLinkActive="active" class="nav-link">View Appointments</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/profile" routerLinkActive="active" class="nav-link">Edit Profile</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/login" routerLinkActive="active" class="nav-link">Logout</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>



<!--Table-->
<table id="tablePreview" class="table">
    <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Appointment Date</th>
          <th>Appointment Time</th>
          <th>Symptoms</th>
          <th>Diagnosis</th>
          <th>Treatment</th>
          <th>Other Details</th>
          <th>Prescription</th>
          <th>Medical Certificate</th>
          <th>Referrals</th>
          <th>Vaccination</th>
          <th>Hospitalisation</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>03/02/2019</td>
          <td>09:45</td>
          <td>Patient complained of a sore throat, headache, runny nose, aches and pains.</td>
          <td>Possible case of viral influenza</td>
          <td>Fluids, plenty of rest and painkillers if and when needed</td>
          <td>Patient complained of feeling tired, rundown and stressed at work.</td>
          <td>Ibuprofen 600mg, to be taken 3 times a day after meals</td>
          <td>N/A</td>
          <td>Referred to nurse to get full blood work done to investigate root cause of fatigue.</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>4/11/2018</td>
          <td>10:30</td>
          <td>Patient complained of vomiting, high temperature, shivers for the last three days.</td>
          <td>Suspected Norovirus (Winter Vomiting Bug)</td>
          <td>Fluids, bedrest, advised to stay indoors for the next 3 days as Norovirus is highly contagious.</td>
          <td>Recommended to stay at home for the next few days as Norovirus is highly contagious and the patient risks infecting others if they go to work. Incubation period of three days.</td>
          <td>N/A</td>
          <td>Yes - 72 hours duration</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>4/7/2018</td>
          <td>11:15</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>Patient seeking advice on types of vaccinations to receive as they are going on a work trip to the United Arab Emirates. Advised to be referred to a Nurse who will administer: Typhoid, Hepatitis A, Tetanus and Poliomyelitis vaccinations.</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>Referred to nurse to receive Typhoid, Hepatitis A, Tetanus and Poliomyelitis vaccinations.</td>
          <td>Typhoid, Hepatitis A, Tetanus, Poliomyelitis</td>
          <td>N/A</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>6/3/2018</td>
            <td>10:00</td>
            <td>Patient complained of a high level of anxiety, panic attacks, breathlessness and insomnia.</td>
            <td>Suspected Anxiety</td>
            <td>Anti-anxiety medication, one to be taken at the onset of an anxiety attack. Do not exceed a maximum of two per day.</td>
            <td>Patient often complains of insomnia and feeling stressed at work. Advised to try relaxation techniques such as mindfulness and yoga. Improve diet, hydrate and rest. If situation does not improve, advised to seek Counselling or return to further explore other options.</td>
            <td>Xanax 5mg, one to be taken at the onset of an anxiety attack. Do not exceed a maximum of two per day.</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>1/1/2018</td>
            <td>10:15</td>
            <td>Patient fell during football training and has pain and swelling of the ankle. Ankle is bruised and patient cannot put weight on the injured foot (the right foot).</td>
            <td>Suspected ankle sprain</td>
            <td>N/A</td>
            <td>Bandage administered and ice applied to the injured foot. Must be referred to Ennis General Hospital to have X-Rays on the injured foot to rule out any broken bones and to see how severe the damage is.</td>
            <td>Panadol 600mg, one to be taken every 4 hours.</td>
            <td>N/A</td>
            <td>Referral to the hospital for X-rays of the right foot.</td>
            <td>N/A</td>
            <td>Yes</td>
          </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  
    <a class="btn btn-secondary btn-rounded" ripple-radius>View My Appointments</a>

    </body>
    <main>
        <router-outlet></router-outlet>
    </main>